.nav-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	top: 0;
	padding: 1.1em 1em 0.8em;
	background-color: #ffd7d7d8;
	.logo {
		width: 250px;
		object-fit: contain;
	}
	ul {
		display: flex;
		justify-content: flex-end;
		width: 250px;
	}
	.welcome {
		.profil-pic {
			border-radius: 100%;
			width: 42px;
			height: 42px;
			object-fit: cover;
			border: solid 1px $color-tertiary;
			margin-right: 1em;
		}
		h5 {
			color: $color-tertiary;
		}
	}
}
